<div class="container">
    <div class="imgBox"></div>
    <img src=<%="https:www.etsy.com/listing/193178059/b-alphabet-initial-letter-script-brass?utm_source=baob&utm_medium=api&utm_campaign=api">
    <div class="arrow"></div>
    <div class="description"></div>
    <ul>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
    </ul>
    <hr>

    <div class="reviewContent">
        <img src="">
    </div>
</div>
