<div class="container">
    <div class="imgBox"></div>
    <img src="">
    <div class="arrow"></div>
    <div class="description"></div>
    <ul>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
        <li>
            <div class="smallPics"></div>
        </li>
    </ul>
    <hr>

    <div class="reviewContent">
        <img src="">
    </div>
</div>
