<header>Heading stuff
	<ul>
		<li><a href="#">Nav1</a></li>
		<li><a href="#">Nav2</a></li>
		<li><a href="#">Nav3</a></li>
	</ul>
</header>
	

		<% _.forEach(results, function(result) { %>

	<div class="container">
		<div class="imgBox"></div>
			<div class="title">
				<%= result.title %>
			</div>
			
			<div class="price">
				<div class="priceText">
					<%= result.price %>
				</div>
			</div>
		</div>
	</div>
	<% }); %>
	


