
	<a href="#/listing/:id">
	<div class="container">
		<div class="imgBox">
			<img src = '<%= MainImage.url_570xN %>'>
		</div>
			
			<div class="title">
				<%= title %>
			</div>
			
			<div class="price">
				<div class="priceText">
					<%= price %>
				</div>
			</div>
		
	</div></a>
	
		<div class="userBox">

		<div class="userImg">
			<img src = '<%= User.image_url_75x75 %>'>
		</div>
			
			<div class="user">
				<%= User.login_name %>
				<%= user_id %>
				

			</div>
			
			<!-- <div class="price"> -->
			<!-- 	<div class="priceText">
			</div> -->
			<!-- </div> -->
		</div>
	</div>
	<button class="back">Back</button>

